<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

   <button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
</div>

<ul>
   <li>
    <input type="file" class="upload" (change)="changeListener($event.target.files)">
  </li>

   <table>
    <tr >
      <th *ngFor="let h of head">{{h}}</th>
    </tr>
    <tr *ngFor="let rowData of tableData">
      <td *ngFor="let t of rowData">{{t}}</td>
    </tr>
  </table>
</ul>


